---
---

$darkteal: #52a5ad;
$lightteal: #cbebef;
$darkblue: #3f4c61;
$lightblue: #a9b1bf;

$small: 500px;

body, html {
  font-family: Century Gothic, CenturyGothic, AppleGothic, URW Gothic, UWR Gothic L, sans-serif;
  background: #eee;
  color: #333;
  margin: 0;
  padding: 0;
  @media (max-width: $small) {
    font-size: 1em;
  }
  line-height: 1.4;
}

h1, h2, h3 {
  font-weight: normal;
}

p > code {
  background: white;
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid $lightblue;
}

pre {
  background: white;
  padding: 10px;
}

small {
  display: block;
  line-height: 1.1;
  font-size: 0.65em;
}

a {
  color: $darkteal;
  text-decoration: underline;
  border-bottom: 1px solid $darkteal;
}

header {
  margin-top: 10px;
  text-align: center;
  border-bottom: 6px double $lightblue;
  img {
    position: relative;
    width: 300px;
    bottom: -30px;
    @media (max-width: $small) {
      width: 200px;
      bottom: -20px;
    }
  }
  nav {
    margin-top: 1em;
    display: inline-block;
    a {
      display: inline-block;
      margin-left: 1em;
      color: $darkblue !important;
      text-decoration: none;
      font-size: 1.25em;
      letter-spacing: -1px;
      position: relative;
      top: 1px;
      transition: all 0.3s ease;
      border: none;
    }
    a:hover {
      color: $darkteal !important;
    }
  }
}

section {
  background: white;
  border-top: 6px double $lightblue;
  border-bottom: 6px double $lightblue;
  padding: 30px;
  @media (min-width: 700px) {
    padding: 30px 15%;
  }
  @media (max-width: $small) {
    padding: 30px 10px;
  }
}

section#tagline {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0;
  text-align: center;
  background: white;

  h1 {
    font-size: 2.5em;
    max-width: 21em;
    margin: 2em auto;
    margin: 8vw auto;
    @media (max-width: $small) {
      font-size: 1.75em;
    }
  }
  table {
    margin-top: 50px;
    td {
      vertical-align: top;
      overflow: hidden;
      img {
        width: 95%;
        border: 1px solid #999;
        border-radius: 3px;
      }
      #arrow {
        margin-top: 25px;
        width: 40%;
        border: none;
      }
    }
  }
}

section#features {
  padding: 45px 10px;
  background: #eee;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 16.5em;
      margin: 7px;
      padding: 30px;
      background: white;
      border: 6px double $lightblue;

      @media (max-width: $small) {
        width: auto;
        margin: 10px 0;
      }
      img {
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
      }
      h2 {
        line-height: 1.5em;
        margin: 0;
        font-size: 1.5em;
      }
      p {
        margin: 0;
        clear: both;
      }
    }
  }
}

section#manpages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 15px;
  @media (max-width: 1100px) {
    display: block;
    padding: 0;
  }
  div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 0;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    height: 85vh;
    margin: 15px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  min-height: 100px;
}

#github {
  display: block;
  opacity: 0.75;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  &:hover {
    opacity: 1;
  }
  img {
    width: 150px;
    height: 150px;
    @media (max-width: 500px) {
      width: 125px;
      height: 125px;
    }
  }
}