---
---

$chartreuse: #f7fae1;
$harlequin: #e8f7e1;
$celeste: #d7edf2;
$lavender: #e6e8ff;
$mauve: #f9e7ff;
$vermillion: #ffeae5;
$aureolin: #fff8e5;

$small: 500px;

body, html {
  font-family: Century Gothic, CenturyGothic, AppleGothic, URW Gothic, UWR Gothic L, sans-serif;
  background: #eee;
  color: #333;
  margin: 0;
  padding: 0;
  @media (max-width: $small) {
    font-size: 1em;
  }
  line-height: 1.4;
}

h1, h2, h3 {
  font-weight: normal;
}

p > code {
  background: white;
  padding: 2px;
  border-radius: 5px;
}

pre {
  background: white;
  padding: 10px;
}

small {
  display: block;
  line-height: 1.1;
  font-size: 0.65em;
}

header {
  margin-top: 20px;
  text-align: center;
  border-bottom: 6px double #ccc;
  img {
    position: relative;
    width: 200px;
    bottom: -20px;
    @media (max-width: $small) {
      width: 150px;
      bottom: -15px;
    }
  }
  nav {
    margin-top: 1em;
    display: inline-block;
    a {
      display: inline-block;
      margin-left: 1em;
      color: #333 !important;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1em;
      letter-spacing: -1px;
      position: relative;
      top: 1px;
      transition: all 0.3s ease;
    }
    a:hover {
      transform: scale(1.2);
      transform-origin: bottom;
    }
  }
}

section {
  background: white;
  border-top: 6px double #ccc;
  border-bottom: 6px double #ccc;
  padding: 30px;
  @media (min-width: 700px) {
    padding: 30px 15%;
  }
  @media (max-width: $small) {
    padding: 30px 10px;
  }
}

section#tagline {
  padding: 30px 5%;
  text-align: center;
  background: white;
  border-bottom: 6px double #ccc;

  table {
    margin-top: 50px;
    td {
      vertical-align: top;
      overflow: hidden;
      img {
        width: 95%;
        border: 1px solid #999;
        border-radius: 3px;
      }
      #arrow {
        margin-top: 25px;
        width: 40%;
        border: none;
      }
    }
  }
}

section#features {
  padding-left: 10px;
  padding-right: 10px;
  background: #eee;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 16em;
      margin: 20px;
      padding: 20px 30px;
      background: white;
      border: 6px double #ccc;
      border-radius: 25px;

      @media (max-width: $small) {
        width: auto;
        margin: 10px 0;
      }
      img {
        opacity: 0.7;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
      }
      h2 {
        line-height: 1.5em;
        margin: 0;
        font-size: 1.5em;
      }
      p {
        margin: 0;
        clear: both;
      }
      &.chartreuse { border-color: $chartreuse }
      &.harlequin  { border-color: $harlequin }
      &.celeste    { border-color: $celeste }
      &.lavender   { border-color: $lavender }
      &.mauve      { border-color: $mauve }
      &.vermillion { border-color: $vermillion }
      &.aureolin   { border-color: $aureolin }
    }
  }
}

section#manpages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 15px;
  @media (max-width: 1100px) {
    display: block;
    padding: 0;
  }
  div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 0;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    height: 85vh;
    margin: 15px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  min-height: 100px;
}

#github {
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
  img {
    @media (max-width: 500px) {
      width: 125px;
      height: 125px;
    }
  }
}