@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inconsolata.woff') format('woff');
}

body, html {
  font-family: Inconsolata;
  background: white;
  color: #3f4c61;
  overflow-x: hidden;
  font-size: 16px;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
}

h1, h2, h3 {
  font-size: 1em;
  font-weight: normal;
  color: #e43;
  margin-bottom: 0;
}

p {
  margin-left: 3em;
  margin-top: 0;
  margin-bottom: 1em;
}

b {
  font-weight: normal;
  color: #e43;
}

i {
  font-style: normal;
  color: #0a0;
}

code, pre {
  font-family: Inconsolata;
  font-size: 1em;
}

dl {
  margin-top: 0;
}

dt {
  margin-left: 3em;
}

pre {
  margin-left: 3.1em;
  margin-top: 0;
}

p code:before, p code:after {
                 content: "\"";
                 font-weight: normal;
               }
